asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorclass==2.2.2
Django==4.2.3
docopt==0.6.2
idna==3.4
packaging==23.1
pip-upgrader==1.4.15
requests==2.31.0
sqlparse==0.4.4
terminaltables==3.1.10
urllib3==2.0.4
